<a href="https://colab.research.google.com/github/manorlly/Python-for-Beginner/blob/master/Day_2_FCS_Daramola_Olaitan_Isaac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Data Types and their default Functions**



1. List and its default Functions

In [ ]:
# Define the list variable
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]

In [ ]:
# Print the List variable
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [ ]:
# Check Data type of list variable 
type(list)

list

In [ ]:
list.append(2.2)
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 2.2]

In [ ]:
list.clear()
list

[]

In [ ]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [ ]:
listy = list.copy()
listy

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [ ]:
list = [1, 2, 3, "name", 3.142, "people", "class", 2, 4, 5, 6, 2, 3]
list.count(2)

3

In [ ]:
list = [1, 2, 3, 3.4, 6, 7, 6, 5, 4]
list.sort()
list

[1, 2, 3, 3.4, 4, 5, 6, 6, 7]



2. Dictionary and its default functions

In [ ]:
# Print the dict variable
dict

dict

In [ ]:
# Define the dict variable
dict = {"first_name" : "Daramola", "last_name" : "Olaitan", "Age" : 32, "Sex" : "Male"}

In [ ]:
# Check Data type of dict variable 
type(dict)

dict

In [ ]:
dict.clear()
dict

{}

In [ ]:
# dict = {"first_name" : "Olaitan", "last_name" : "Daramola", "Age" : 32, "Sex" : "Male"}
dict = {"Anime" : ['ghj','dfgh','ghj','ghjk'], "last_name" : "Daramola", "Age" : 32, "Sex" : "Male"}
dicty = dict.copy()
dicty

{'Age': 32,
 'Anime': ['ghj', 'dfgh', 'ghj', 'ghjk'],
 'Sex': 'Male',
 'last_name': 'Daramola'}

In [ ]:
#from random import shuffle
import random
dict['Anime']
list = dict['Anime']
print(list)
random.shuffle(list)
print(list)

['ghj', 'dfgh', 'ghj', 'ghjk']
['dfgh', 'ghjk', 'ghj', 'ghj']

In [ ]:
list = [1, 2, 3]
dict.fromkeys(list, "Age")

{1: 'Age', 2: 'Age', 3: 'Age'}

In [ ]:
dict = {"first_name" : "Olaitan", "last_name" : "Daramola", "Age" : 22, "Sex" : "Male"}
dict.get("first_name")

'Olaitan'

In [ ]:
dict.items()

dict_items([('first_name', 'Olaitan'), ('last_name', 'Daramola'), ('Age', 22), ('Sex', 'Male')])




3. Set and its default functions

In [ ]:
# Define the set variable
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}

In [ ]:
# Print the set variable
set

{1, 2, 3, 3.142, 4, 5, 6, 'class', 'name', 'people'}

In [ ]:
# Check Data type of set variable 
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.add(12)
set

{1, 12, 2, 3, 3.142, 4, 5, 6, 'class', 'name', 'people'}

In [ ]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.clear()
set

set()

In [ ]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.copy()

{1, 2, 3, 3.142, 4, 5, 6, 'class', 'name', 'people'}

In [ ]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.difference(set2)
set2.difference(set)

{0, 7, 8, 9}

In [ ]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.difference_update(set2)
set

{3.142, 'class', 'name', 'people'}

In [ ]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.union(set2)

{0, 1, 2, 3, 3.142, 4, 5, 6, 7, 8, 9, 'class', 'name', 'people'}



4. Tuple and its default methods

In [ ]:
# Define the tup variable
tup = ("Username", "Password", "manorlly", "1234567")

In [ ]:
# Print the tup variable
tup

('Username', 'Password', 'manorlly', '1234567')

In [ ]:
# Check Data type of tup variable 
type(tup)

tuple

In [ ]:
tup = ("Username", "Password", "manorlly", "1234567")
tup.count("manorlly")

1

In [ ]:
tup = ("Username", "Password", "manorlly", "1234567")
tup.index("Password")

1



5. String and 10 default methods

In [ ]:
# Define the string variable
string = "My name is Ola"

In [ ]:
# Check Data type of string variable 
type(string)

str

In [ ]:
string = "My name is Ola"
string.capitalize()

'My name is ola'

In [ ]:
string = "My name is Ola"
string.casefold()

'my name is ola'

In [ ]:
string = "My name is Ola"
string.center(4)

'My name is Ayo'

In [ ]:
string = "My name is Ola"
string.endswith("a")

In [ ]:
string = "My name is Ola"
string.find("n")

In [ ]:
string = "My name is Ola"
string.index("i")

In [ ]:
string = "My name is Ola"
string.isalpha()

In [ ]:
string = "My name is Ola"
string.replace("Ola", "itan")

In [ ]:
string = "My name is Ola"
string.split()