**Python Data Types and their default Functions**



1. List and its default Functions

In [0]:
# Define the list variable
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]

In [2]:
# Print the List variable
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [0]:
# Check Data type of list variable 
type(list)

In [4]:
list.append(2.2)
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 2.2]

In [7]:
list.clear()
list

[]

In [8]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [11]:
list.copy()
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [15]:
list = [1, 2, 3, "name", 3.142, "people", "class", 2, 4, 5, 6, 2, 3]
list.count(2)

3

In [20]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list2 = [3, 4, 5]
list.extend(list2)
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5]

In [30]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list.index(3)

2

In [36]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list.insert(2, "insert")
list

[1, 2, 'insert', 3, 'name', 3.142, 'people', 'class', 4, 5, 6]

In [38]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list.pop()
list

[1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5]

In [39]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list.remove("name")
list

[1, 2, 3, 3.142, 'people', 'class', 4, 5, 6]

In [40]:
list = [1, 2, 3, "name", 3.142, "people", "class", 4, 5, 6 ]
list.reverse()
list

[6, 5, 4, 'class', 'people', 3.142, 'name', 3, 2, 1]

In [44]:
list = [1, 2, 3, 3.4, 6, 7, 6, 5, 4]
list.sort()
list

[1, 2, 3, 3.4, 4, 5, 6, 6, 7]



2. Dictionary and its default functions

In [0]:
# Define the dict variable
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}

In [47]:
# Print the dict variable
dict

{'Age': 22, 'Sex': 'Male', 'first_name': 'Ayodeji', 'last_name': 'Odufowokan'}

In [0]:
# Check Data type of dict variable 
type(dict)

In [49]:
dict.clear()
dict

{}

In [50]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict.copy()

{'Age': 22, 'Sex': 'Male', 'first_name': 'Ayodeji', 'last_name': 'Odufowokan'}

In [56]:
list = [1, 2, 3]
dict.fromkeys(list, "Age")

{1: 'Age', 2: 'Age', 3: 'Age'}

In [59]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict.get("first_name")

'Ayodeji'

In [60]:
dict.items()

dict_items([('first_name', 'Ayodeji'), ('last_name', 'Odufowokan'), ('Age', 22), ('Sex', 'Male')])

In [61]:
dict.keys()

dict_keys(['first_name', 'last_name', 'Age', 'Sex'])

In [65]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict.pop("Sex")
dict

{'Age': 22, 'first_name': 'Ayodeji', 'last_name': 'Odufowokan'}

In [67]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict.popitem()

('Sex', 'Male')

In [75]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict.setdefault("Religion", "Christianity")
dict

{'Age': 22,
 'Religion': 'Christianity',
 'Sex': 'Male',
 'first_name': 'Ayodeji',
 'last_name': 'Odufowokan'}

In [84]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict2 = {"Religion" : "Christianity"}
dict.update(dict2)
dict2

{'Religion': 'Christianity'}

In [85]:
dict = {"first_name" : "Ayodeji", "last_name" : "Odufowokan", "Age" : 22, "Sex" : "Male"}
dict.values()

dict_values(['Ayodeji', 'Odufowokan', 22, 'Male'])




3. Set and its default functions

In [0]:
# Define the set variable
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}

In [89]:
# Print the set variable
set

{1, 2, 3, 3.142, 4, 5, 6, 'class', 'name', 'people'}

In [95]:
# Check Data type of set variable 
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.add(12)
set

{1, 12, 2, 3, 3.142, 4, 5, 6, 'class', 'name', 'people'}

In [97]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.clear()
set

set()

In [98]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.copy()

{1, 2, 3, 3.142, 4, 5, 6, 'class', 'name', 'people'}

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.difference(set2)

In [100]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.difference_update(set2)
set

{3.142, 'class', 'name', 'people'}

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.discard(5)
set

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.intersection(set2)

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.intersection_update(set2)
set

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.isdisjoint(set2)

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.issubset(set2)

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,}
set.issuperset(set2)

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.pop()

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set.remove("people")
set

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.symmetric_difference(set2)

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.symmetric_difference_update(set2)
set

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
set2 = {1,2,3,4,5,6,6,7,7,8,9,0,3,2,4}
set.union(set2)

In [0]:
set = {1, 2, 3, 'name', 3.142, 'people', 'class', 4, 5, 6, 3, 4, 5}
list = [5,6,7,8,9]
set.update(list)
set



4. Tuple and its default methods

In [0]:
# Define the tup variable
tup = ("Username", "Password", "Ayscode", "1234567")

In [0]:
# Print the tup variable
tup

In [0]:
# Check Data type of tup variable 
type(tup)

In [0]:
tup = ("Username", "Password", "Ayscode", "1234567")
tup.count("Ayscode")

In [0]:
tup = ("Username", "Password", "Ayscode", "1234567")
tup.index("Password")



5. String and 10 default methods

In [0]:
# Define the string variable
string = "My name is Ayo"

In [0]:
# Print the string variable
string

In [0]:
# Check Data type of string variable 
type(string)

In [0]:
string = "My name is Ayo"
string.capitalize()

In [0]:
string = "My name is Ayo"
string.casefold()

In [0]:
string = "My name is Ayo"
string.center(4)

In [0]:
string = "My name is Ayo"
string.endswith("o")

In [0]:
string = "My name is Ayo"
string.find("n")

In [0]:
string = "My name is Ayo"
string.index("i")

In [0]:
string = "My name is Ayo"
string.isalpha()

In [0]:
string = "My name is Ayo"
string.lower()

In [0]:
string = "My name is Ayo"
string.isnumeric()

In [0]:
string = "My name is Ayo"
string.isprintable()

In [0]:
string = "My name is Ayo"
string.join("  ")

In [0]:
string = "My name is Ayo"
string.replace("Ayo", "deji")

In [0]:
string = "My name is Ayo"
string.split()

In [0]:
string = "My name is Ayo"
string.startswith("y")